.DS_Store
.idea/
DS_roadmap_exercises/.ipynb_checkpoints/
Drug_release_kinetics/
GenAI_field_summariser/.DS_Store
GenAI_field_summariser/__pycache__/
GenAI_field_summariser_agentic/
GenAI_field_summariser_agentic_MLOps copy/
GenAI_field_summariser_agentic_MLOps/
GenAI_field_summariser_agentic_SQL/
GenAI_field_summariser_old/
H_test/
Hamiltonian_formalism_orbital_dynamics/.DS_Store
Hamiltonian_formalism_orbital_dynamics/README_academic.md
Hamiltonian_formalism_orbital_dynamics/s10569-023-10136-5.pdf
NASA_LSTM/
NASA_RUL_GNN/
NASA_in_progress/
PCOS_Kaggle/.DS_Store
PCOS_Kaggle/.ipynb_checkpoints/
PCOS_Kaggle/PCOS.md
PCOS_Kaggle/PCOS_files/
PINN/
Physics_Informed_Latency_Prediction_in_progress/
SHM_anomaly_detection/
SHM_anomaly_detection_backup/
STEAD_VAE/
T_Swift_Finale/.ipynb_checkpoints/
T_Swift_meetup/
T_Swift_week_2/Taylor_Swift_dataanalysis_files/
VAE_jets/
XRED/
comparison_VAE_and_physics_DSHO.png
credit_card_fraud_detection/
physics_VAE/
requirements.txt
scientific_summariser_refactored/
test_LSTM/
